
<div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 50px">
  <mat-card
    class="text-center"
    fxFlex.xs="100%"
    fxFlex.gt-md="25%"
    fxFlex.sm="33%"
    style="margin-bottom: 2px"
  >
    <mat-card-title>Edit Contact</mat-card-title>
    <mat-card-content>
      <form
        [formGroup]="editForm"
        (ngSubmit)="onSubmit(editForm.value)"
      >
      <p>
        <mat-form-field class="example-full-width">
          <mat-icon matSuffix>person</mat-icon>
          <input
            type="text"
            matInput
            placeholder="firstName"
            formControlName="firstName"
            name="firstName"
          />
          <mat-icon
            matSuffix
            *ngIf="!editForm.get('firstName')?.errors"
            color="success"
            >check_circle</mat-icon
          >
          <mat-error *ngIf="firstName?.errors?.['required']">
            firstName is required
          </mat-error>
          <mat-error *ngIf="editForm.value.firstName">
            Error! firstName must contain 2 or more sharacters!
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width">
          <mat-icon matSuffix>person</mat-icon>
          <input
            type="text"
            matInput
            placeholder="lastName"
            formControlName="lastName"
            name="firstName"
          />
          <mat-icon
            matSuffix
            *ngIf="!editForm.get('lastName')?.errors"
            color="success"
            >check_circle</mat-icon
          >
          <mat-error *ngIf="lastName?.errors?.['required']">
            lastName is required
          </mat-error>
          <mat-error *ngIf="editForm.value.lastName">
            Error! lastName must contain 2 or more sharacters!
          </mat-error>
        </mat-form-field>
      </p>

        <p>
          <mat-form-field class="example-full-width">
            <input
              type="email"
              matInput
              placeholder="Email address"
              formControlName="email"
              name="email"
            />
            <mat-icon matSuffix>mail_outline blue-color</mat-icon>
            <mat-icon
              matSuffix
              *ngIf="!editForm.get('email')?.errors"
              color="success"
              >check_circle</mat-icon
            >
            <mat-error *ngIf="email?.errors?.['required']">
              Email is required
            </mat-error>
            <mat-error *ngIf="editForm.value.email">
              Please enter a correct email format
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="example-full-width">
            <mat-icon matSuffix>home</mat-icon>
            <input
              type="text"
              matInput
              placeholder="address"
              formControlName="address"
              name="address"
            />
            <mat-icon
              matSuffix
              *ngIf="!editForm.get('address')?.errors"
              color="success"
              >check_circle</mat-icon
            >
            <mat-error *ngIf="address?.errors?.['required']">
              address is required
            </mat-error>
            <mat-error *ngIf="editForm.value.address">
              Error! address must contain 2 or more sharacters!
            </mat-error>
          </mat-form-field>
        </p>


        <p>
          <mat-form-field class="example-full-width">
            <mat-icon matSuffix>phone</mat-icon>
            <input
              type="tel"
              matInput
              placeholder="phone"
              formControlName="phone"
              name="phone"
            />
            <mat-icon
              matSuffix
              *ngIf="!editForm.get('phone')?.errors"
              color="success"
              >check_circle</mat-icon
            >
            <mat-error *ngIf="phone?.errors?.['required']">
              Phone is required
            </mat-error>
            <mat-error *ngIf="editForm.value.phone">
              Error! Mobile number is not 10 digit!
            </mat-error>
          </mat-form-field>
        </p>
        <mat-card-actions fxLayoutAlign="center center" class="mb-2 px-3">
          <button
            mat-stroked-button
            color="primary"
            class="button-p button2"
            [disabled]="!editForm.valid"
          >
            Add
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>


<ngx-spinner bdColor = "#f5f5f5" size = "medium" color="#4285F4" type = "ball-spin-clockwise-fade" [fullScreen] = "true">
  <p  style="font-size: 20px; color:#4285F4" > Loading... </p>
</ngx-spinner>


