<div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 50px">
  <mat-card
    class="text-center"
    fxFlex.xs="100%"
    fxFlex.gt-md="25%"
    fxFlex.sm="33%"
    style="margin-bottom: 2px"
  >
  <mat-card-title style="padding: 3%;">Enter 6 digit OTP sent to your email address.</mat-card-title><br>
    <mat-card-content>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit(loginForm.value)"
      >
        <p>
          <mat-form-field class="example-full-width">
            <input
              type="text"
              matInput
              placeholder="Otp code"
              formControlName="otp"
              name="otp"
            />
            <mat-icon matSuffix>screen_lock_portrait</mat-icon>
            <mat-icon
              matSuffix
              *ngIf="!loginForm.get('otp')?.errors"
              color="success"
              >check_circle</mat-icon
            >
            <mat-error *ngIf="otp?.errors?.['required']">
              Otp  is required
            </mat-error>
            <mat-error *ngIf="loginForm.value.otp">
              Please enter a correct otp
            </mat-error>
          </mat-form-field>
        </p>
        <p>

        <mat-card-actions fxLayoutAlign="center center" class="mb-2 px-3">
          <button
            mat-stroked-button
            color="primary"
            class="button-p button2"
            [disabled]="!loginForm.valid"
          >
            Verify
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>


<ngx-spinner bdColor = "#f5f5f5" size = "medium" color="#4285F4" type = "ball-spin-clockwise-fade" [fullScreen] = "true">
  <p  style="font-size: 20px; color:#4285F4" > Loading... </p>
</ngx-spinner>
